### Ansible template
*.retry
.venv/

### Vagrant template
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### TestKitchen template
.kitchen/
.kitchen.local.yml

### JetBrains template
.idea/

### Local Cassandra
inventory/
repair_logs/
roles/mrlesmithjr.oracle-java8/
